# Ignore .env file for environment variables
.env

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore migration files
**/migrations/*.pyc

# Ignore logs
*.log

# Ignore virtual environment directory
venv/
